.form-group ::-webkit-input-placeholder {
  color: #1f1f1f !important;
  font-size: 16px;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:600;
}
.form-group ::-moz-placeholder {
  color: #1f1f1f !important;
  font-size: 16px;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:600;
}
.form-group ::-ms-input-placeholder {
  color: #1f1f1f !important;
  font-size: 16px;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:600;
}
.form-group ::placeholder {
  color: #1f1f1f !important;
  font-size: 16px;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:600;;
}
.fam_gp ::-webkit-input-placeholder {
  color: #1f1f1f !important;
  font-size: 16px !important;;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:normal !important;
}
.fam_gp ::-moz-placeholder {
  color: #1f1f1f !important;
  font-size: 16px !important;;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:normal !important;
}
.fam_gp ::-ms-input-placeholder {
  color: #1f1f1f !important;
  font-size: 16px !important;;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:normal !important;
}
.fam_gp ::placeholder {
  color: #1f1f1f !important;
  font-size: 16px !important;;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:normal !important;
}
  .info{
    width: 20px;
    margin-left: 30px;
  }
  .author-radio{
    width: 30px;
    margin-top: 30px;
  }
  @media (min-width: 576px){
    .modal-dialog {
      max-width: 920px;
      margin: 1.75rem auto;
  }
  }
  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.model_cover {
  padding: 10px;
  border: 2px solid #706969;
}
.modal-title {
  font-weight: 600;
  position: relative;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.code_form::placeholder {
  color: #1f1f1f !important;
  font-size: 18px;
  opacity: unset;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
}
.author_types{
  height: 100vh;
  background-color:#fff;
  padding-bottom:30px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
}
.main_right {
  background: white;
}