@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

.bg-light {
    background-color: #ededed!important;
}

.logo img {
    width: 200px;
}

.logo_two img {
    width: 180px;
}

.logo {
    display: table;
    margin: 0 auto;
}

.logo_3 img {
    width: 100%;
}

.logo_3.my-5 {
    padding: 30px;
}

.loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    /* opacity: 0.8; */
}

.loader-container div {
    top: 33%;
    margin: auto;
}

.form_gp_lft .form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #8f8f8f;
    border-radius: 0;
    padding-left: 0;
    color: #fff;
}

.main_left {
    width: 220px;
    float: left;
    height: 100%;
}

.main_right {
    width: calc(100% - 220px);
    float: left;
    background-color: white;
    /* height:auto; */
}

.container-fluid .signupmain {
    overflow-y: scroll;
    height: -webkit-fill-available;
}

.form_gp_lft .form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: unset;
    border: 0;
    border-bottom: 1px solid #8f8f8f;
}

.form_gp_rgyt .form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #8f8f8f;
    border-radius: 0;
    padding-left: 0;
    color: #fff;
}

.form_gp_rgyt .form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: unset;
    border: 0;
    border-bottom: 1px solid #8f8f8f;
}

.btn_login {
    background-color: #fff;
    color: #1f1f1f;
    font-weight: bold;
}

.email {
    background-image: url(../src/Utils/Assets/mail.png);
    background-repeat: no-repeat;
    color: #fff;
    background-position: right;
    background-size: 30px;
}

.email_s {
    background-image: url(../src/Utils/Assets/email_s.png);
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #1f1f1f;
    background-position: right 3% bottom 50%;
    background-size: 30px;
    padding-right: 10px;
}

.password_s {
    /* background-image: url(../src/Utils/Assets/password_s.png); */
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #1f1f1f;
    background-position: right 3% bottom 50%;
    background-size: 20px;
}

.user_s {
    background-image: url(../src/Utils/Assets/user_s.png);
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #1f1f1f;
    background-position: right 3% bottom 50%;
    background-size: 20px;
}

.note_s {
    float: left;
    width: 100%;
    padding: 0 15px;
    color: #1f1f1f;
}

select.form-control:not([size]):not([multiple]) {
    height: 55px;
    color: #1f1f1f;
    font-weight: 600;
}

.button_btft {
    /* float: right; */
    width: 100%;
    padding: 15px;
    margin-top: 30%;
}

.form_gp_rgyt {
    margin-left: 20px;
}

.form_gp_lft {
    margin-right: 20px;
}

.password {
    /* background-image: url(../src/Utils/Assets/lock.png); */
    background-repeat: no-repeat;
    color: #fff;
    background-position: right;
    background-size: 20px;
}

.custom-control {
    display: table;
    margin: 0 auto;
}

.social li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}

.social li a img {
    width: 50px;
}

footer {
    background-color: rgb(31, 31, 31);
    padding: 20px;
}

.footer_contant {
    display: table;
    margin: 0 auto;
}

.footer_contant span {
    margin-right: 10px;
}

.btn_signup {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 5px 20px;
}

.btn_h_login {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid #1f1f1f;
    text-transform: uppercase;
    font-weight: bold;
    color: #1f1f1f;
    padding: 5px 20px;
    border-radius: 0;
}

.social {
    padding-left: 0;
    display: table;
    margin: 0 auto;
}

img.video_img {
    width: 100%;
}

.video {
    margin-bottom: 20px;
}

.hedv_text {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

.footer_text {
    text-align: center;
}

.form_cust_hed {
    background-color: transparent;
    border-color: #acacac;
}

.checkbox_label {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: calc(17px * 0.125) solid #fff;
    border-radius: 12.5%;
    transition: 400ms 100ms ease-out;
    float: left;
}

.checkbox_label_black {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: calc(17px * 0.125) solid black;
    border-radius: 12.5%;
    transition: 400ms 100ms ease-out;
    float: left;
}

.checkbox_label_black .mark {
    background-color: white !important;
    border-right: calc(9px * 0.25) solid black !important;
    border-bottom: calc(9px * 0.25) solid black !important;
}

.custom-checkbox p {
    float: left;
    margin-left: 10px;
    margin-bottom: 0;
}

.checkbox_label:hover {
    border-color: #466fb3;
}

input[type="file"] {
    float: left;
    width: 50%;
}

input[type="checkbox"] {
    /* position: absolute;
  opacity: 0; */
    left: -1000px;
    vertical-align: text-top;
    /* margin-right: 2%; */
    margin-bottom: 10%
}

.mark {
    position: relative;
    right: calc(20px * -0.5);
    top: calc(50px * -0.2);
    width: calc(40px * 0.24);
    height: calc(28px * 0.74);
    border-right: calc(9px * 0.25) solid #ffffff;
    border-bottom: calc(9px * 0.25) solid #ffffff;
    transform: rotate(45deg) scale(0);
    opacity: 0;
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

input[type="checkbox"]:checked+label .mark {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.mark, mark {
    padding: 0.2em;
    background-color: #1f1f1f;
}

input[type="checkbox"]:focus+label {
    animation: 400ms linear cb-pop;
}

@keyframes cb-pop {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.9);
    }
    66% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.progressbar {
    counter-reset: step;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 0;
    float: left;
}

.progressbar li {
    list-style-type: none;
    width: 19.33%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li:before {
    width: 25px;
    height: 25px;
    content: '';
    line-height: 30px;
    border: 6px solid #a6a6a6;
    background-color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
    z-index: -662;
}

.progressbar li:after {
    width: 93%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #a6a6a6;
    top: 12px;
    left: -46%;
    transition: all .8s;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:before {
    border: 6px solid #a6a6a6;
    background-color: #000;
    transition: all .8s;
}

.progressbar li.active:after {
    background-color: #000;
    transition: all .8s;
    z-index: 1;
    width: 94%;
    left: -47%;
}

.headre_progress {
    width: 100%;
    float: left;
    background-color: #ededed;
}

.signup_text {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    color: #1f1f1f;
    font-weight: bold;
    font-size: 17px;
}

.signup_text.note-txt {
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}

.signup_text.note-txt {
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}

.signup_text.note-txt span {
    font-weight: 100;
}

.code_form {
    width: 25%;
    height: 55px;
}

.form-group_code {
    margin-bottom: 1rem;
    margin: 0 auto;
    display: table;
    width: 35% !important;
}

.code_form {
    width: 100%;
    height: 55px;
}

.code_main {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn_group_submit {
    float: left;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

button.btn.btn-lg.btn-block.btn_submit {
    width: 15%;
    background-color: #1f1f1f;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.bottom_btn {
    float: left;
    width: 100%;
    margin-top: 50px;
}

.btn_resend {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid #000;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 5px 20px;
}

.signup_text p {
    line-height: 33px;
    letter-spacing: 1px;
}

.setup_p_hed {
    background-color: #ededed;
    padding: 25px;
    height: 80px;
}

.setup_p_hed h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color: #1f1f1f;
    float: left;
}

.form_custom {
    float: left;
    width: 100%;
    padding-top: 20px;
}

.form_custom .form-control {
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
}

input[type="button"] {
    background: #ededed;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 1px #351a1afc;
}

.full_title {
    float: left;
    width: 100%;
    padding: 0 15px;
}

.lft {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.rght {
    width: 50%;
    float: left;
    padding: 0 15px;
    min-height: 50px;
}

.in_form_control {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #acacac;
    border-radius: 0;
}

.in_form {
    border: 2px solid #acacac;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.in_title {
    position: absolute;
    top: -12px;
    background-color: #fff;
    padding: 0 10px;
    font-weight: 600;
    font-size: 16px;
}

.in_title p {
    color: #1f1f1f;
    margin: 0;
}

.ft_text {
    margin-top: 10px;
    text-align: right;
    float: right;
    width: 100%;
}

.ft_text span {
    float: left;
}

.ft_text span {
    float: right;
}

.ft_text span a {
    color: #1f1f1f;
    font-weight: 600;
    text-decoration: underline;
}

.ft_text span a img {
    width: 20px;
    margin-left: 10px;
}

.dd_custom {
    width: 100%;
    background-color: transparent;
    border: 0;
    text-align: left;
    border-bottom: 1px solid #acacac;
    border-radius: 0;
    height: 55px;
    color: #1f1f1f;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0.8em solid;
    border-right: 0.8em solid transparent;
    border-bottom: 0;
    border-left: 0.8em solid transparent;
    right: 0;
    position: absolute;
}

.btn-secondary:hover {
    color: #1f1f1f;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid #acacac;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: unset;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #1f1f1f;
    background-color: transparent;
    border-color: transparent;
    border: 0
}

.full_title label {
    font-weight: 700;
}

.custom_textarea {
    height: 150px !important;
}

.btn_upload {
    height: 55px;
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    float: left;
}

.upload_text {
    float: left;
    width: auto;
    margin-left: 10px;
}

.upload_text p {
    margin: 0;
}

.ft_bottom p {
    margin: 0;
    color: #1f1f1f;
    font-weight: 600;
}

.ft_bottom {
    height: 55px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    float: left;
}

.btn_save_bt {
    display: block;
    font-weight: bold;
    width: 10%;
    padding: 10px;
    font-size: 1rem;
    background-color: #1f1f1f;
    line-height: 1.5;
    color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    float: right;
    text-transform: uppercase;
    margin-top: 10px;
}

.rdio {
    position: relative;
}

.rdio input[type="radio"] {
    opacity: 0;
}

.rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 7px !important;
}

.rdio label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #1f1f1f;
    background: #fff;
}

.rdio input[type="radio"] {
    margin: 0px;
}

.rdio input[type="radio"]:disabled+label {
    color: #999;
}

.rdio input[type="radio"]:disabled+label:before {
    background-color: #1f1f1f;
}

.rdio input[type="radio"]:checked+label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    display: inline-block;
    font-size: 11px;
    width: 10px;
    height: 10px;
    background-color: #1f1f1f;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.rdio-default input[type="radio"]:checked+label:before {
    border-color: #1f1f1f;
}

.rdio-primary input[type="radio"]:checked+label:before {
    border-color: #1f1f1f;
}

.rdio-primary input[type="radio"]:checked+label::after {
    background-color: #1f1f1f;
}

.rdio.rdio-primary.radio-inline {
    float: left;
    margin-right: 15px;
}

.radiobuttons {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

.in_title_sec {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.in_title_sec span {
    color: #1f1f1f;
    font-size: 17px;
    font-weight: 600;
}

.radioninline_2 {
    width: 30%;
}

.ft_text_sec {
    text-align: right;
    float: right;
    width: 50%;
}

.ft_text_sec span {
    float: right;
}

.ft_text_sec span a {
    color: #1f1f1f;
    font-weight: 600;
    text-decoration: underline;
}

.ft_text_sec span a img {
    width: 20px;
    margin-left: 10px;
}

.btm_note {
    float: left;
    width: 100%;
    padding: 20px;
}

.btm_note p {
    color: #1f1f1f;
    font-weight: 600;
    font-size: 20px;
}

.ft_img {
    float: left;
    width: 100%;
    padding: 20px;
    position: relative;
}

.ft_img img {
    width: 100%;
}

.ft_img_text {
    margin-top: 10px;
    float: right;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
}

.setbook_check .mark, mark {
    padding: 0.2em;
    background-color: #fff;
}

.setbook_check .checkbox_label {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: calc(17px * 0.125) solid #1f1f1f;
    border-radius: 12.5%;
    transition: 400ms 100ms ease-out;
    float: left;
}

.setbook_check .mark {
    position: relative;
    right: calc(20px * -0.5);
    top: calc(50px * -0.2);
    width: calc(40px * 0.24);
    height: calc(28px * 0.74);
    border-right: calc(9px * 0.25) solid #1f1f1f;
    border-bottom: calc(9px * 0.25) solid #1f1f1f;
    transform: rotate(45deg) scale(0);
    opacity: 0;
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.setbook_check .custom-control {
    padding-left: 0;
    display: inherit;
    width: 25%;
    float: left;
}

.in_title_two {
    position: absolute;
    top: -12px;
    background-color: #fff;
    padding: 0 10px;
    font-weight: 600;
    font-size: 17px;
}

.button_sv {
    background-color: #1f1f1f;
    color: #fff;
    text-transform: uppercase;
    width: 210px;
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sync_fild {
    position: relative;
}

.sync_img img {
    width: 25px;
}

.sync_img {
    position: absolute;
    top: 12px;
    right: 0;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 1rem;
    float: left;
    width: 100%;
}

.radioninline_3 {
    width: 30%;
    margin-top: 30px;
}

.radioninline_3 label img {
    width: 20px;
    margin-left: 30px;
    opacity: 0.3;
}

.rdio-primary input[type="radio"]:checked+label img {
    opacity: 1;
}

.signuptype_footercover {
    float: left;
    width: 100%;
    padding: 15px;
    margin-top: 50px;
}

.signuptype_footercover .lft {
    float: left;
    width: 50%;
}

.signuptype_footercover .right {
    float: right;
    width: 50%;
}

button.btn.button_jon_sign {
    margin-top: 10px;
    padding: 9px;
    float: right;
    width: 120px;
    font-weight: 600;
    color: #000;
    background-color: transparent;
    border: 2px solid;
}

button.btn.button_jon_sign img {
    width: 20px;
    margin-left: 10px;
}

.model_cover {
    padding: 10px;
    border: 2px solid #706969;
}

.modal-content {
    padding: 20px;
}

.modal-title {
    font-weight: 600;
    position: relative;
    margin-bottom: 30px
}

.modal-title:after {
    position: absolute;
    content: ' ';
    background-image: url(../src/Utils/Assets/hed_img.png);
    background-repeat: no-repeat;
    width: 150px;
    z-index: 9999999999999999999999;
    background-size: contain;
    bottom: -12px;
    height: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

ul.model_text {
    padding-left: 19px;
}

.thankyou_cover {
    float: left;
    width: 100%;
    padding: 20px;
}

.thankyou_cover h1 {
    color: #1f1f1f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 12%;
}

.thankyou_cover p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.inner_thankyou {
    float: left;
    width: 100%;
    text-align: center;
    border: 2px solid #1f1f1f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-flow: column;
}

/* button.close {
    position: absolute;
    right: 5%;
    top: 8%;
    background-color: transparent;
    opacity: .5;
    color: black;
} */

/* button.close img {
	width:20px;
} */

/* Radio button style */

.rdio {
    position: relative;
}

.rdio input[type="radio"] {
    opacity: 0;
}

.rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 7px !important;
}

.rdio label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #1f1f1f;
    background: #fff;
}

.rdio input[type="radio"] {
    margin: 0px;
}

.rdio input[type="radio"]:disabled+label {
    color: #999;
}

.rdio input[type="radio"]:disabled+label:before {
    background-color: #1f1f1f;
}

.rdio input[type="radio"]:checked+label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    display: inline-block;
    font-size: 11px;
    width: 10px;
    height: 10px;
    background-color: #1f1f1f;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.btn_save_bt {
    display: block;
    font-weight: bold;
    width: 10%;
    padding: 10px;
    font-size: 1rem;
    background-color: #1f1f1f;
    line-height: 1.5;
    color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    float: right;
    text-transform: uppercase;
    margin-top: 10px;
}

.author_main_s {
    float: left;
    width: 100%;
    padding: 15px 40px;
}

.modal-body_s {
    border: 3px solid #706969;
    padding: 15px 30px 10px 30px;
}

.author_main_s p {
    font-weight: 600;
    color: #1f1f1f;
    margin-bottom: 5px;
    padding: 10px 0 10px 0;
}

.author_main_s h1 {
    color: #1f1f1f;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

.modal-body_s .model_text {
    margin-bottom: 0px;
}

.tick_s {
    background-image: url(../src/Utils/Assets/tick.png);
    background-repeat: no-repeat;
    color: #fff;
    background-position: right 3% bottom 50%;
    background-size: 30px;
}

.playnow {
    display: block;
    font-weight: bold;
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    background-color: #1f1f1f;
    line-height: 1.5;
    color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    float: right;
    text-transform: uppercase;
}

.thanktwo_main {
    float: left;
    width: 100%;
    padding: 10px 25px;
    background: #fff;
}

.div_bt {
    float: left;
    width: 100%;
    padding: 10px 35px;
}

.div_bt p {
    margin: 0;
}

.thanktwo_main .form_custom {
    padding: 0;
}

.rdio-default input[type="radio"]:checked+label:before {
    border-color: #1f1f1f;
}

.rdio-primary input[type="radio"]:checked+label:before {
    border-color: #1f1f1f;
}

.rdio-primary input[type="radio"]:checked+label::after {
    background-color: #1f1f1f;
}

.rdio.rdio-primary.radio-inline {
    float: left;
    margin-right: 15px;
}

.radiobuttons {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

.navigation.bg-light {
    background: #ededed;
}

.navigation.bg-dark {
    background: #1f1f1f !important;
}

/* Dashboard */

.navigation .bg-light {
    /* background-color: #1f1f1f !important; */
    z-index: 1;
}

.navigation .bg-dark {
    background-color: #1f1f1f !important;
    z-index: 1;
}

.navigation .navbar {
    padding: 13px 20px !important;
    display: inline-block;
}

.navbar-nav li a.nav-link {
    color: #b5b5b5 !important;
    text-transform: uppercase;
    font-size: 17px;
}

li.nav-item {
    margin-right: 15px;
}

.navbar-nav .active>.nav-link, .navbar-light.bg-dark .navbar-nav .nav-link:hover {
    font-weight: 600;
}

.navbar-light.bg-dark .navbar-nav .active>.nav-link, .navbar-light.bg-dark .navbar-nav .nav-link:hover {
    color: #fff !important;
}

.navbar-light.bg-light .navbar-nav .active>.nav-link, .navbar-light.bg-light .navbar-nav .nav-link:hover {
    color: #000 !important;
}

.navbar-light.bg-light .navbar-nav li.nav-item.active::before, .navbar-light.bg-light .navbar-nav li.nav-item:hover::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    position: relative;
    top: -13px;
}

.navbar-light.bg-dark .navbar-nav li.nav-item.active::before, .navbar-light.bg-dark .navbar-nav li.nav-item:hover::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
    position: relative;
    top: -13px;
}

.noti_setting {
    float: right;
}

.noti_setting {
    display: flex;
}

a.notification {
    width: 55px;
    margin-right: 15px;
}

.noti_setting a:last-child {
    margin-right: 0 !important;
}

.noti_setting a img {
    width: 30px;
}

a.notification {
    background: #f60c0c;
    color: #fff;
    height: 30px;
    display: inline-block;
    width: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    margin-right: 25px;
}

.filter_row {
    /* display: inline-block; */
    width: 100%;
    padding-right: 25px;
    background: #ededed;
    /* position: absolute; */
    top: 0;
}

.noti_setting {
    float: right;
    padding: 16px 20px;
}

.filter_options {
    padding: 15px 20px;
}

span.yes_no, .sport a span, .calender_list a, .calender_list span {
    font-size: 17px;
    font-weight: 700;
    position: relative;
    top: 10px;
    margin: 0 8px;
    color: #1f1f1f;
    text-transform: uppercase;
}

.sport a span {
    margin: 0;
    margin-right: 10px;
    text-decoration: none;
}

.sport a, .calender_list a {
    text-decoration: none;
}

.toggle_switch, .sport, .new_filter, .search_box, .calender_list {
    display: inline-block;
}

.sport a img {
    float: right;
    position: relative;
    top: 4px;
}

.toggle_switch, .sport, .new_filter {
    margin-right: 40px;
}

.new_filter a img {
    position: relative;
    top: 7px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.search_box input[type="text"] {
    height: 40px;
    float: left;
    width: 250px;
    padding: 10px;
    font-size: 14px;
    color: #aaa;
    padding-right: 40px;
}

.search_box button {
    background: none;
    border: none;
    position: relative;
    left: -41px;
    top: 7px;
}

.filter_row img {
    width: 25px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Radio button style over */

@media (min-width: 1500px) and (max-width: 1920px) {}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 920px;
    }
}

@media (max-width:767px) {
    .form_gp_rgyt {
        margin-left: 0px;
    }
    #myModal {
        padding: 0;
    }
    .button_btft {
        margin-top: 40px;
    }
    /* button.close {
    position: absolute;
    right: 8%;
    top: 8%;
} */
    .main_left {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .logo_3.my-5 {
        margin: 5px !important;
        padding: 10px;
    }
    .main_right {
        width: 100%;
    }
    .form-group_code {
        width: 80%;
    }
    button.btn.btn-lg.btn-block.btn_submit {
        width: 60%;
    }
    .form_gp_lft {
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .logo_3 img {
        width: 120px;
    }
    .email {
        height: 45px;
    }
    .social li a img {
        width: 28px;
    }
    .social li {
        padding: 0 4px;
        font-size: 12px;
    }
    footer {
        padding: 20px 0;
    }
    .form_cust_hed {
        background-color: transparent;
        border-color: #acacac;
        margin-bottom: 10px;
    }
    .btn_h_login {
        width: 100%;
    }
    .lft {
        width: 100%;
    }
    .rght {
        width: 100%;
    }
    .radioninline_2 {
        width: 100%;
        margin-bottom: 10px;
    }
    .radioninline_3 {
        width: 100%;
        margin-bottom: 10px;
    }
    .in_title_two_sec {
        width: 50%;
        float: left;
        margin-bottom: 30px;
    }
    .setbook_check .custom-control {
        width: 100%;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }
}

.signup-btn-group {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 110px;
}

.btn-filled {
    background-color: #1f1f1f;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    width: 120px;
    padding: 10px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.btn-bordered {
    margin-top: 10px;
    padding: 9px;
    float: right;
    width: 120px;
    font-weight: 600;
    color: #000;
    background-color: transparent;
    border: 2px solid;
}

.btn-bordered img {
    width: 20px;
    margin-left: 10px;
}

.frame-container {
    margin: 15px 38px;
    padding: 15px 25px;
    border: 3px solid #706969;
    display: inline-block;
}

.frame-container .frame-header {
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: -30px;
    margin-left: 6px;
}

.frame-container .frame-header span.title {
    background-color: white;
    padding-right: 6px;
    padding-left: 6px;
}

.frame-container .frame-content {
    padding: 0px 12px;
}

.red-colored {
    color: red;
}

.radio-label {
    margin-left: 4px;
    font-weight: 400;
}

.m-t-120 {
    margin-top: 120px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.pull-right {
    float: right;
}

.show-pwd {
    color: white;
    right: 5%;
    display: inline;
    position: absolute;
    top: 6px;
    font-size: 25px;
}

.show-pwd-dark {
    color: black;
    margin-right: 20px;
    display: inline;
    position: relative;
    top: -50px;
    font-size: 25px
}

.invalid {
    border: 1px solid red;
}

.dropdown {
    width: 100%;
}

.custom-badge {
    background: red;
    color: white;
    border-radius: 1em;
    font-size: 0.5em;
    top: 10px;
    position: absolute;
    right: 45px;
    font-family: 'Raleway', sans-serif;
}

.calendar {
    height: 750px;
    color: #202020;
}

.calendar .rbc-calendar .rbc-toolbar .rbc-btn-group button {
    color: #202020;
}

.calendar-dark {
    background-color: #202020;
    color: white;
}

.calendar-dark .rbc-calendar .rbc-toolbar .rbc-btn-group button:not(.rbc-active) {
    color: white;
}

.calendar-container {
    padding: 15px;
}

.calendar-container-dark {
    background: #202020;
}

/* Additional responsive css */

@media screen and (max-width: 1199px) {
    .btn_save_bt {
        margin-right: 2% !important;
        margin-top: 25px;
        width: 18% !important;
    }
    .navbar-nav li a.nav-link {
        font-size: 15px;
    }
    .noti_setting a:first-child {
        position: relative;
    }
    .custom-badge {
        top: -5px;
        right: 1px;
    }
    .color_guide {
        width: 96% !important;
    }
    p.indicator_name {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 991px) {
    .rbc-toolbar {
        flex-direction: column;
    }
    .btn_save_bt {
        margin-right: 2.5% !important;
        margin-top: 80px;
        width: 30% !important;
    }
    .search_box input[type=text] {
        width: 170px;
    }
    p.indicator_name {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 767px) {
    .calender_list {
        display: block;
        text-align: center;
    }
    .rbc-toolbar {
        flex-direction: row;
    }
    .btn_save_bt {
        margin-right: 2% !important;
        margin-top: 40px;
    }
    .filter_options {
        padding: 15px 20px;
        text-align: center;
    }
}

@media screen and (max-width: 682px) {
    .search_box input[type=text] {
        width: 120px;
    }
}

@media screen and (max-width: 632px) {
    .search_box input[type=text] {
        width: 170px;
    }
}

@media screen and (max-width: 575px) {
    p.indicator_name {
        font-size: 16px !important;
    }
    .color_guide {
        width: 95% !important;
    }
}

@media screen and (max-width: 583px) {
    .rbc-toolbar {
        flex-direction: column;
    }
    .btn_save_bt {
        margin-right: 2% !important;
        margin-top: 80px;
    }
}

@media screen and (max-width: 479px) {
    .btn_save_bt {
        width: 32% !important;
        margin-right: 3% !important;
        margin-top: 80px !important;
    }
    .rbc-toolbar {
        flex-direction: column;
    }
    .search_box {
        margin-top: 20px;
    }
    .filter_row {
        padding-right: 0 !important;
    }
    .filter_row .row {
        width: 100%;
        text-align: center;
        margin: 0 !important;
    }
    .filter_row .row .col-sm-12 {
        padding: 0 !important;
        margin: 0 !important;
    }
    .search_box {
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .toggle_switch, .sport, .new_filter {
        margin-right: 14px;
    }
    .search_box input[type=text] {
        width: 200px;
    }
    button.btn.btn_h_login {
        margin-left: 0;
    }
    .signuptype_footercover {
        padding: 5px;
        margin-top: 0px;
        background: #fff;
    }
    .main_right.author_types .full_title .form-group {
        margin-bottom: 0;
    }
    .signup_text span {
        margin: 0 10px;
    }
    .color_guide {
        width: 91% !important;
    }
}

@media screen and (max-width: 360px) {
    .toggle_switch, .sport, .new_filter {
        margin-right: 9px;
    }
    .search_box {
        margin-top: 20px;
        margin-bottom: 3px;
    }
    .btn_save_bt {
        width: 40% !important;
    }
    .setup_p_hed h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    footer button {
        width: 100% !important;
        margin-bottom: 20px;
    }
    footer button:last-button {
        width: 100% !important;
        margin-bottom: 20px;
    }
}

/* / Style for modal-popup design / */

.eventModal h5.modal-title {
    width: 100%;
}

.eventModal h5 h3 {
    padding-top: 250px !important;
}

.event_body {
    margin-top: 80px;
}

/* Style for legends */

.color_guide {
    display: inline-block;
    width: 97.7%;
    border: 1px solid #ddd;
    margin-left: 15px;
    padding: 15px;
}

sapn.color_box {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #000;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.color_guide .col-sm-4 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
}

.color_guide .col-sm-4:last-child {
    margin-bottom: 0px;
}

p.indicator_name {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.color_guide .col-sm-4:first-child sapn.color_box {
    background: linear-gradient(to right, rgb(101, 193, 255), rgb(113, 147, 255));
}

.color_guide .col-sm-4:nth-child(2) sapn.color_box {
    background: linear-gradient(to right, rgb(159, 255, 129), rgb(117, 255, 201));
}

.color_guide .col-sm-4:nth-child(3) sapn.color_box {
    background: linear-gradient(to right, rgb(255, 150, 79), rgb(255, 129, 129));
}

.color_guide .col-sm-4:nth-child(4) sapn.color_box {
    background: linear-gradient(to right, rgb(255, 121, 188), rgb(255, 101, 255));
}

.color_guide .col-sm-4:nth-child(5) sapn.color_box {
    background: linear-gradient(to right, rgb(243, 255, 181), rgb(255, 219, 105));
}

.color_guide .col-sm-4:nth-child(6) sapn.color_box {
    background: linear-gradient(to right, rgb(180, 105, 255), rgb(142, 91, 255));
}

.color_guide .col-sm-4:last-child sapn.color_box {
    background: linear-gradient(to right, rgb(255, 91, 91), rgb(255, 91, 157));
}