 @media (min-width: 576px){
      .modal-dialog {
        max-width: 920px;
        margin: 1.75rem auto;
    }
    }
.modal-content {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: .3rem;
      outline: 0;
  }
  .model_cover {
    padding: 10px;
    border: 2px solid #706969;
  }
  .modal-title {
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    font-size: 1.5rem;
    
  }

  .eventModal.modal-title{
    width: 100%;
  } 

.upperCaseText {
  text-transform: uppercase;
}