::-webkit-input-placeholder {
    color: #fff !important;
    font-size: 18px;
    opacity: unset;
    font-family: 'Raleway', sans-serif;
  }
  ::-moz-placeholder {
    color: #fff !important;
    font-size: 18px;
    opacity: unset;
    font-family: 'Raleway', sans-serif;
  }
  :-ms-input-placeholder {
    color: #fff !important;
    font-size: 18px;
    opacity: unset;
    font-family: 'Raleway', sans-serif;
  }
  ::placeholder {
    color: #fff !important;
    font-size: 18px;
    opacity: unset;
    font-family: 'Raleway', sans-serif;
  }