
::-webkit-input-placeholder {
    color: #1f1f1f !important;
    font-size: 14px;
    opacity: unset;
    font-family: 'Raleway', sans-serif;
    /* font-weight:bold; */
  }
  ::-moz-placeholder {
    color: #1f1f1f !important;
    font-size: 14px;
    opacity: unset;
    font-family: 'Raleway', sans-serif;
    /* font-weight:bold; */
  }
  :-ms-input-placeholder {
    color: #1f1f1f !important;
    font-size: 14px;
    opacity: unset;
    font-family: 'Raleway', sans-serif;
    /* font-weight:bold; */
  }
  .mr-sm-2::placeholder {
    color: #1f1f1f !important;
    font-size: 14px;
    opacity: unset;
    font-family: 'Raleway', sans-serif;
    /* font-weight:bold; */
  }

  .left-logo {
    width: 100%;
  }